*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "montserrat",sans-serif;
}
body{
  background: #8587f2;
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.card{
  cursor: pointer;
  width: 340px;
  height: 480px;
}
.front,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}
.front{
  background: #f1f1f1;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #8587f2;
  font-size: 18px;
}
.front{
  transform: perspective(600px) rotateY(0deg);
}
.back{
  background: #f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}
.back-content{
  color: #8587f2;
  text-align: center;
  width: 100%;
}
.icons{
  margin: 270px 0;
  text-align: center;
}
.icons a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #8587f2;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%
}
.icons a:hover{
  background: #6364b4;
  color: white;
}
.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}
